<ion-header>
  <ion-navbar color="sgreen">
    <ion-title>
      ค้นหาข้อมูลพันธุกรรมพืช
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="sgreen">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>กรอกคำค้นที่ต้องการ</ion-list-header>
    <ion-item *ngFor="let item of items">
      <p item-left *ngIf="item.img_name != NULL" (click)="viewItem(item)"><img src="http://www.rbnrds.rbru.ac.th/uploads/{{item.img_name}}" style="max-width: 100px;"></p>
      <p item-left *ngIf="item.img_name == NULL" (click)="viewItem(item)"><img src="http://www.rbnrds.rbru.ac.th/images/icon.png" style="max-width: 100px;"></p>
      <h2>{{item.plant_name}} ({{item.plant_name_basic}})</h2>
      <p class="item">{{item.plant_bole}}</p>
    </ion-item>
  </ion-list>
</ion-content> 
